body {
  font-family: "Roboto", sans-serif;
}

.bg-container {
  min-height: 100vh;
  color: white;
}

.flex-gap > button {
  margin: 10px 10px 0;
}

.sort-ascending-btn,
.sort-descending-btn {
  padding: 4px 6px;
  font-size: 0.5rem;
  border-radius: 20rem;
}
